<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Analytics" thread-count="1" parallel="none">
    <classes>
       <class name="com.freshproposals.selenium.Check_Versions"/>
       <class name="com.freshproposals.selenium.ClientContact"/>
       <class name="com.freshproposals.selenium.Collapse_Controls"/>
       <class name="com.freshproposals.selenium.Email_Template"/>
       <class name="com.freshproposals.selenium.Existing_Single_Image"/>
       <class name="com.freshproposals.selenium.Existing_Template"/>
       <class name="com.freshproposals.selenium.F2B2_Multiple"/>
       <class name="com.freshproposals.selenium.F2B2"/>
       <class name="com.freshproposals.selenium.FeetableAll"/>
       <class name="com.freshproposals.selenium.Section_List"/>
       <class name="com.freshproposals.selenium.SectionBodyProperties"/>
       <class name="com.freshproposals.selenium.SectionBodyPropertiesInPreview"/>
       <class name="com.freshproposals.selenium.SectionHeading1Properties"/>
       <class name="com.freshproposals.selenium.SectionHeading1PropertiesInPreview"/>
       <class name="com.freshproposals.selenium.SectionHeading2Properties"/>
       <class name="com.freshproposals.selenium.SectionHeading2PropertiesInPreview"/>
       <class name="com.freshproposals.selenium.SectionHeading3Properties"/>
       <class name="com.freshproposals.selenium.SectionHeading3PropertiesInPreview"/>
       <class name="com.freshproposals.selenium.SectionHeading4Properties"/>
       <class name="com.freshproposals.selenium.SectionHeading4PropertiesInPreview"/>
       <class name="com.freshproposals.selenium.SectionQuoteProperties"/>
       <class name="com.freshproposals.selenium.SectionQuotePropertiesInPreview"/>
       <class name="com.freshproposals.selenium.Send_Proposal_Temp"/>
       <class name="com.freshproposals.selenium.Signature"/>
       <class name="com.freshproposals.selenium.TextBox_Top_Properties"/>
       <class name="com.freshproposals.selenium.Verify_Color"/>
       <class name="com.freshproposals.selenium.Verify_Position_with_Preview"/>
       <class name="com.freshproposals.selenium.Select_Search_Tab"/>
       <class name="com.freshproposals.selenium.UseThis_Checkversions"/>
       <class name="com.freshproposals.selenium.Won_Proposal_Verification"/>
       <class name="com.freshproposals.selenium.Lost_Proposal_Verification"/>
       <class name="com.freshproposals.selenium.Analytics"/>
       <class name="com.freshproposals.selenium.Analytics_Tabchange"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->


